<p style="text-align: justify;">One of the most important things to consider when wearing a hair system is whether you have the right size to fit your scalp. Having the wrong size wig will not only be uncomfortable, but will also look very unnatural and obvious to your friends, peers and family members.</p>
<p style="text-align: justify;">So with that said, Superhairpieces has provided this guide on how to measure your head size, especially if you are opting for a custom-sized wig.</p>
<h2 style="text-align: justify;"><strong>Superhairpieces stock wig sizes</strong></h2>
<p><center><img src="https://www.superhairpieces.com/product_images/uploaded_images/wig-sizes.jpg" alt="How to measure" width="50%" /></center></p>
<p style="text-align: justify;">At Superhairpieces, we offer a number of the <a href="https://www.superhairpieces.com/human-hair-wigs-for-women/" target="_blank">best human hair wigs</a> all with varying sizes. What we look at specifically with size is the circumference of the head or how long the distance around the head is.</p>
<p style="text-align: justify;">Our in-stock <a href="https://www.superhairpieces.com/full-cap-wigs/" target="_blank">full cap wigs</a> are medium-sized and all range from 21&rsquo;&rsquo; to 21.75&rsquo;&rsquo; when it comes to circumference which is usually the average circumference for most of our clients. Other wig measurements including front to back, ear to ear over top and temple to temple across the front all differ slightly as well from each other.</p>
<h3 style="text-align: justify;"><strong>Wig size chart</strong></h3>

<div class="chart-wrapper">
    <div class="chart-header">Superhairpieces</div>
    <div class="chart-header">In-stock wigs</div>
    <div>Circumference</div>
    <div>21" - 21.75"</div>
    <div>Front to nape</div>
    <div>13.25" - 14.25"</div>
    <div>Ear to ear over top</div>
    <div>12.5" - 13.5"</div>
    <div>Temple to temple across the front</div>
    <div>11.25" - 12.25"</div>
</div>
<p style="text-align: justify;">However, there are unique cases which means a custom order might be necessary for those who prefer a smaller or bigger size wig.</p>
<h2 style="text-align: justify;"><strong>How to measure head for wig</strong></h2>
<p style="text-align: justify;">With the pandemic, salon services and walk-ins were no longer an option for most customers to get their measurements checked for a wig. But even as things open up, it&rsquo;s always useful to learn how to measure your head so you can place an order for a custom wig online yourself and receive a perfect fit.</p>
<p style="text-align: justify;">All you need is a measuring tape in order to measure the following:</p>
<ul>
<li>Circumference</li>
<li>Front to nape</li>
<li>Ear to ear across forehead</li>
<li>Ear to ear over the top</li>
<li>Temple to temple around the back</li>
<li>Neck width</li>
</ul>
<p style="text-align: justify;">Make sure to remove any pre-existing hairstyle to get the most accurate measurements.</p>
<p><center><img src="https://www.superhairpieces.com/product_images/uploaded_images/wig-size-chart.jpg" alt="full cap wig measurement chart" width="50%" /></center></p>
<h3 style="text-align: justify;"><strong>#1 Circumference measurement</strong></h3>
<p style="text-align: justify;">For measuring the circumference of your head, you need to position the measuring tape on your forehead near the hairline and pull it behind one ear until it reaches your nape. Bring it to the other side until you reach the starting point as displayed in the image above.</p>
<h3 style="text-align: justify;"><strong>#2 Front to nape measurement</strong></h3>
<p style="text-align: justify;">For the front to nape, start from the middle of your front hairline and measure until you reach the nape of the neck.</p>
<h3 style="text-align: justify;"><strong>#3 Ear to ear across forehead measurement</strong></h3>
<p style="text-align: justify;">When it comes to the ear to ear across the forehead, it is similar to measuring the circumference. However, you will need to place the measuring tape above the ear and pull it across the hairline until it reaches the top of your other ear.</p>
<h3 style="text-align: justify;"><strong>#4 Ear to ear across the top measurement</strong></h3>
<p style="text-align: justify;">Ear to ear across the top is mostly the same by placing the tape above one ear. Instead, pull the tape over the top of your head until it reaches the other ear.</p>
<h3 style="text-align: justify;"><strong>#5 Temple to temple around the back measurement</strong></h3>
<p style="text-align: justify;">For temple to temple around the back, place the measuring tape on your left or right temple and pull it around the back of your head until it reaches the other temple</p>
<h3 style="text-align: justify;"><strong>#6 Nape of neck measurement.</strong></h3>
<p style="text-align: justify;">Finally, for measuring the nape, put the measuring tape behind one ear and pull it around the base of your hairline or nape until it reaches behind the other ear. Make sure the tape is level with the bottom of your ear lobe.</p>
<h4 style="text-align: justify;"><strong>Conclusion</strong></h4>
<p style="text-align: justify;">Once you have measured all these measurements, you are good to go in getting a custom wig that perfectly fits your head. That said, the three main measurements Superhairpieces require are your circumference, front to nape and ear to ear over the top which should be more than enough.</p>
<p style="text-align: justify;">You can place an order for a <a href="https://www.superhairpieces.com/women-full-cap-wig/" target="_blank">custom made full cap wig for women</a>.</p>
<p style="text-align: center;">----------------------</p>
<p style="text-align: justify;">If you are interested in learning more about wigs, toupees or hairpieces, contact one of our <strong>Superhairpieces</strong> consultants today at 1-866-814-7879 or email us at <a href="mailto:sales@superhairpieces.com" target="_blank">sales@superhairpieces.com</a> to set up your virtual appointment.</p>
<p style="text-align: justify;">Be sure to subscribe to our email list to ensure you get all the product information you need.</p>
<p style="text-align: justify;">Need further information? Browse through our website at <a href="https://www.superhairpieces.com/" target="_blank">www.superhairpieces.com</a> (US &amp; International) or <a href="https://superhairpieces.ca/" target="_blank">superhairpieces.ca</a> (CAN)</p>
<p style="text-align: justify;">Don&rsquo;t forget tag us at <strong>@Superhairpieces</strong> and <strong>#Superhairpieces</strong> on your social media channels to get a shoutout!</p>
<style>
    .chart-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
        width: 100%;
        justify-items: center;
        margin: 0 auto 1rem;
        grid-gap: 0;
    }    
    .chart-wrapper div {
        padding: 1rem 0;
        text-align: center;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        width: 100%;
    }
    .chart-wrapper div:nth-child(even) {
        border-right: 1px solid #000;
    }
    .chart-wrapper .chart-header {
        color: #fff;
        background: #000;
        font-size: 1.3rem;
    }
    .chart-wrapper .chart-header:nth-child(even) {
        border-left-color: #fff;
    }
    @media screen and (max-width: 475px) {
        .chart-wrapper .chart-header {
            font-size: 1.1rem;
        }
    }
</style>