<div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c" id="s-89812008-7e6f-4434-927f-2e09dc8e031b">
        <div class="shg-box-overlay"></div>
        <div class="shg-box-content">
            <div id="s-5f73895f-4f8e-4b41-bf82-e65d5a1ac7e3" class="shg-c">
                <div>
                    <ul class="shogun-tabs shogun-rounded" role="tablist" data-vthemes='{"default":"shogun-rounded"}'>
                        <li
                            class="shogun-tab shogun-tab-active"
                            id="tab-573030cc-5fb9-46ac-ad58-20ed5df58f19"
                            role="tab"
                            aria-controls="panel-573030cc-5fb9-46ac-ad58-20ed5df58f19"
                            aria-selected="true"
                        >
                            <div class="shogun-tab-box">
                                <span class="shogun-tab-title"> Skin Base Medium Density </span>
                            </div>

                            <div class="shogun-tab-border"></div>
                        </li>

                        <li class="shogun-tab" id="tab-0f224746-2ed0-4164-9aae-03e0cb2308cf" role="tab" aria-controls="panel-0f224746-2ed0-4164-9aae-03e0cb2308cf" aria-selected="false">
                            <div class="shogun-tab-box">
                                <span class="shogun-tab-title"> French lace Light-medium Density </span>
                            </div>
                        </li>
                    </ul>
                    <div class="shogun-tabs-body shogun-rounded">
                        <div class="shogun-tab-content shogun-tab-active" id="panel-573030cc-5fb9-46ac-ad58-20ed5df58f19" role="tabpanel" aria-labelledby="tab-573030cc-5fb9-46ac-ad58-20ed5df58f19">
                            <div class="shg-c" id="s-0acb02e3-9e7c-44bf-80fd-a2ee82b08a5e">
                                <div class="shg-row" data-col-grid-mode-on="true">
                                    <div class="shg-c-lg-5 shg-c-md-5 shg-c-sm-5 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper" style="box-sizing: border-box; min-height: 400px">
                                            <div class="shg-box shg-c" id="s-1c1883bd-c8e6-4467-8fb5-c2f5ccd636f1">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div class="shg-c shogun-image-container shg-align-center" style="" id="s-f38ec402-de5f-474c-8516-cba2c154979d">
                                                        <img
                                                            data-src="https://i.shgcdn.com/f0349994-aa32-44ae-ab3f-22fa19e91f20/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                            width=""
                                                            height=""
                                                            style=""
                                                            alt=""
                                                            class="shogun-image shogun-lazyloaded"
                                                            src="https://i.shgcdn.com/f0349994-aa32-44ae-ab3f-22fa19e91f20/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                        />
                                                    </div>

                                                    <script type="text/javascript">
                                                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                                        window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-f38ec402-de5f-474c-8516-cba2c154979d" });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shg-c-lg-7 shg-c-md-7 shg-c-sm-7 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper" style="box-sizing: border-box; min-height: 400px">
                                            <div class="shg-box shg-c" id="s-41fc2f8b-0be6-454b-9d6b-bc303f78a753">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div class="shg-c" id="s-f701a967-14a5-4e27-9962-adb1ac474431">
                                                        <div class="shg-row" data-col-grid-mode-on="">
                                                            <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                                                                <div id="s-65361ff0-d82a-4696-8476-ec536d2faf0a" class="shg-c shg-align-center">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Superhairpieces</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                                                                <div id="s-628a8e56-b04b-464c-a85e-df83dbb27070" class="shg-c shg-align-left">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>M101 -- $179<br /></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="shg-c" id="s-5a7ebc65-fdb7-4564-ab8f-304133f8c356">
                                                        <div class="shg-row" data-col-grid-mode-on="">
                                                            <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                                                                <div id="s-5af6ac02-bb8d-4e64-b62b-37d6c0a220d0" class="shg-c shg-align-center">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Competitor 1</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                                                                <div id="s-5168dc17-4d89-4431-b972-3b9ec897f9a5" class="shg-c shg-align-left">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Superskin -- $239 (after $30 discount)<br /></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="shg-c" id="s-86a33b14-b213-41c2-b9de-8c9385a31d28">
                                                        <div class="shg-row" data-col-grid-mode-on="">
                                                            <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                                                                <div id="s-d47f0a5e-94ff-4437-96f5-006eab6757b2" class="shg-c shg-align-center">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Competitor 2</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                                                                <div id="s-70e88563-1fc9-4c34-84da-0a1e822734af" class="shg-c shg-align-left">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Mirage -- $299<br /></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="shg-c" id="s-3674c66c-8334-4bb9-b53b-7bdf1eac4c4b">
                                                        <div class="shg-row" data-col-grid-mode-on="">
                                                            <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                                                                <div id="s-cc61839f-7b24-4171-a350-68bd23a400ba" class="shg-c shg-align-center">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Competitor 3</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                                                                <div id="s-4ad0e04c-8492-4ff0-b925-9dbfea1e3cd6" class="shg-c shg-align-left">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>0.15mm All Poly Skin in Medium Thickness<br />$319 (on sale)<br /></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="shogun-tab-content" id="panel-0f224746-2ed0-4164-9aae-03e0cb2308cf" role="tabpanel" aria-labelledby="tab-0f224746-2ed0-4164-9aae-03e0cb2308cf">
                            <div class="shg-c" id="s-5a98c065-2a8a-40d1-bade-e641191c2f49">
                                <div class="shg-row" data-col-grid-mode-on="true">
                                    <div class="shg-c-lg-5 shg-c-md-5 shg-c-sm-5 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper">
                                            <div class="shg-box shg-c" id="s-da42faa7-a53e-4265-af90-bd4325a98cfa">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div class="shg-c shogun-image-container shg-align-center" style="" id="s-8e179e63-1f14-4449-beb2-88334362316d">
                                                        <img
                                                            data-src="https://i.shgcdn.com/da3e31b2-e189-4bfb-a48a-a8360cfc7378/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                            width=""
                                                            height=""
                                                            style=""
                                                            alt=""
                                                            class="shogun-image shogun-lazyloading shogun-lazyloaded"
                                                            src="https://i.shgcdn.com/da3e31b2-e189-4bfb-a48a-a8360cfc7378/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                        />
                                                    </div>

                                                    <script type="text/javascript">
                                                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                                        window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-8e179e63-1f14-4449-beb2-88334362316d" });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shg-c-lg-7 shg-c-md-7 shg-c-sm-7 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper">
                                            <div class="shg-box shg-c" id="s-026b2ee5-ea4f-43bf-a7db-8811ebb5d6f2">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div class="shg-c" id="s-7131708a-502e-4df9-8239-862e6d8cc7bc">
                                                        <div class="shg-row" data-col-grid-mode-on="">
                                                            <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                                                                <div id="s-2cb19296-9eda-4972-813b-c55a2be43566" class="shg-c shg-align-center">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Superhairpieces</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                                                                <div id="s-f9b4164f-5abe-4c39-b2be-124735f104d6" class="shg-c shg-align-left">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>M105 -- $239<br /></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="shg-c" id="s-d7821545-ad37-44af-8390-70d443c78fa4">
                                                        <div class="shg-row" data-col-grid-mode-on="">
                                                            <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                                                                <div id="s-b679cbd5-61c5-4a2f-8fc7-4bf3e938de24" class="shg-c shg-align-center">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Competitor 1</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                                                                <div id="s-ac08a59f-a72d-4805-bd23-99857b3d8dfd" class="shg-c shg-align-left">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Champion Remy $339 (after $30 discount)<br /></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="shg-c" id="s-dc8445f0-e74f-4dd5-84f6-24178fef842d">
                                                        <div class="shg-row" data-col-grid-mode-on="">
                                                            <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                                                                <div id="s-a58eaf6f-56ff-488f-8135-618b84967e7e" class="shg-c shg-align-center">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Competitor 2</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                                                                <div id="s-e2672933-a197-437f-b264-b8844d4e574d" class="shg-c shg-align-left">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Thor -- $349<br /></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="shg-c" id="s-5b488baf-c20f-4e97-b00b-f098a425c005">
                                                        <div class="shg-row" data-col-grid-mode-on="">
                                                            <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                                                                <div id="s-5447513c-f151-4527-8234-c0d135dfe1ea" class="shg-c shg-align-center">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Competitor 3</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                                                                <div id="s-ac575eca-6995-4829-8520-9b1ed5216e9e" class="shg-c shg-align-left">
                                                                    <div class="shogun-heading-component">
                                                                        <h3>Full French Lace(N-French) $319 (on sale)<br /></h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/6170842479541c00a80d7508.css">
<script type="text/javascript" src="https://cdn.getshogun.com/5/6170842479541c00a80d7508.js" async=""></script>