<style>
    :root {
        --section-margin: 60px;
        --element-margin: 20px;
        --border-radius: 10px;
        --button-background: #444;
        --button-background1: #004aad;
        --button-color: #fefefe;
        --button-submit-width: 150px;
        --font-size-medium: 18px;
        --background-color: #2E91E0;
    }
    .upload-wrap {
        margin: 0 auto;
        padding: var(--element-margin) 0;        
    }
    .upload-wrap input {
        width: 100%;
        padding:calc(var(--element-margin) / 2);
        border-radius: var(--border-radius);
        margin-bottom: var(--element-margin);
        border-width: 1px;        
    }
    .upload-action-wrap {
        position: relative;
    }
    .upload-action-wrap label {
        position: absolute;
        top: 0;
        right: 0;
        padding: calc(var(--element-margin) / 2) var(--element-margin);
        background-color: var(--button-background);
        color: var(--button-color);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        border: 1px solid var(--button-background);
        cursor: pointer;
    }
    .upload-action-wrap label:hover {
        background-color: #4f4f4f;
        transition: all .1s ease;
    }
    button[action=submit] {
        background-color: var(--button-background1);
        color: var(--button-color);
        width: var(--button-submit-width);
        padding:calc(var(--element-margin) / 2) 0;
        text-align: center;
        border-radius: var(--border-radius);
        margin-top: var(--element-margin);
        font-size: var(--font-size-medium);
    }
</style>
<div
    class="shogun-root"
    data-shogun-id="61faeae94d4efe0112bc2b6c"
    data-shogun-site-id="fb8c6090-a908-45e2-8617-89b82d7a20e6"
    data-shogun-page-id="61faeae94d4efe0112bc2b6c"
    data-shogun-page-version-id="61fc12a293b6f500eefc8f4e"
    data-shogun-platform-type="big_commerce"
    data-shogun-variant-id="61fc12a293b6f500eefc9053"
    data-region="main"
>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:500" />

    <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/61fc12a293b6f500eefc9053.css" />

    <script type="text/javascript" src="https://lib.getshogun.com/lazysizes/2.0.0/shogun-lazysizes.js" async></script>

    <div class="shg-fw">
        <div class="shg-box-vertical-align-wrapper">
            <div class="shg-box shg-c" id="s-246dbd76-0964-4882-94fc-d267d0f989a2">
                <div class="shg-box-overlay"></div>
                <div class="shg-box-content">
                    <div class="shg-c shogun-image-container shg-align-center" style="opacity: 1" id="s-cf581e6b-01f1-4449-b61b-1ad953df7791">
                        <img
                            src="https://i.shgcdn.com/20bfc00e-8d9a-4b18-871c-62c61b3b8bb4/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                            width=""
                            height=""
                            style=""
                            alt=""
                            class="shogun-image"
                        />
                    </div>

                    <script type="text/javascript">
                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                        window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-cf581e6b-01f1-4449-b61b-1ad953df7791" });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="shg-box-vertical-align-wrapper">
        <div class="shg-box shg-c" id="s-8893892e-d6b6-420c-9072-cd9954280dee">
            <div class="shg-box-overlay"></div>
            <div class="shg-box-content">
                <div class="shg-c" id="s-e0377d4b-3b0c-49dc-8f09-1f60daee0889">
                    <div class="shg-row" data-col-grid-mode-on="">
                        <div class="shg-c-lg-2 shg-c-md-2 shg-c-sm-2 shg-c-xs-12"></div>
                        <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                            <div id="s-61198f40-062d-4fc6-952a-7f15d5798917" class="shg-c">
                                <div class="shg-rich-text shg-theme-text-content">
                                    <p>
                                        <span style="font-weight: 400; font-size: 20px"
                                            >At Superhairpieces, we remain <span style="color: #013d66"><strong>well-stocked</strong></span> as we reach pre-pandemic levels and are able to offer
                                            <span style="color: #013d66"><strong>guaranteed delivery</strong></span> for custom orders in less than three months.
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-weight: 400; font-size: 20px"
                                            ><span style="color: #013d66"><strong>Former HairDirect customer?</strong></span> Upload a previous receipt and we'll offer $20 off your first
                                            Superhairpieces hair system!</span
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="shg-c-lg-2 shg-c-md-2 shg-c-sm-2 shg-c-xs-12"></div>
                    </div>
                </div>

                <div class="shg-c" id="s-c0bb89fc-4f3c-4a9b-a679-c26334f42c1f">
                    <div class="shg-row" data-col-grid-mode-on="">
                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                            <div id="s-c98d7822-320e-4bc1-94d2-b272f621cb11" class="shg-c shg-align-center">
                                <div class="shogun-heading-component">
                                    <h3>Submit your receipt and get $20 off</h3>
                                </div>
                                <div class="upload-wrap shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">                                    
                                    <input type="text" placeholder="Email" maxlength="100" name="email">
                                    <input type="text" placeholder="Fullname" maxlength="100" name="fullname">
                                    <input type="file" id="receipt" required="true" style="display: none;" accept=".jpeg, .jpg, .png, .pdf">
                                    <div class="upload-action-wrap">
                                        <input type="text" readonly placeholder="Upload Receipt">
                                        <label for="receipt">Upload</label>
                                    </div>
                                    <button action="submit" onclick="submit()">Submit</button>
                                </div>
                            </div>
                        </div>

                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shg-box-vertical-align-wrapper">
        <div class="shg-box shg-c" id="s-7e44562b-ca84-493f-9bc3-a0c9f32e3696">
            <div class="shg-box-overlay"></div>
            <div class="shg-box-content">
                <div class="shg-c" id="s-5e43a25e-8e59-4f2c-a629-9124b3bf1995">
                    <div class="shg-row" data-col-grid-mode-on="">
                        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                            <div id="s-a5b7d2a8-7587-4995-a0e7-d01062c8c95a" class="shg-c shg-align-center">
                                <div class="shogun-heading-component">
                                    <h3>Features</h3>
                                </div>
                            </div>
                        </div>
                        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"></div>

                        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shg-box-vertical-align-wrapper">
        <div class="shg-box shg-c" id="s-c3108c80-1f8a-453e-b918-1f6325c97660">
            <div class="shg-box-overlay"></div>
            <div class="shg-box-content">
                <div class="shg-c" id="s-b1a3fc43-b85c-4f36-82be-b18ba78ac387">
                    <div class="shg-row" data-col-grid-mode-on="">
                        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                            <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1" id="s-5b9093a1-0794-45c2-a2e2-5c4876960c07">
                                <a class="shogun-image-link" href="https://www.superhairpieces.com/guaranteed-in-3-months/" target="_blank">
                                    <img
                                        data-src="https://i.shgcdn.com/5ef381f0-fe36-45f6-a6d4-9f307dbfaaef/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                        width=""
                                        height=""
                                        style=""
                                        alt=""
                                        class="shogun-image shogun-lazyload"
                                    />
                                </a>
                            </div>

                            <script type="text/javascript">
                                window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-5b9093a1-0794-45c2-a2e2-5c4876960c07" });
                            </script>
                            <div id="s-3a2641d3-f68e-48be-93f7-6c37a6c27f5a" class="shg-c">
                                <div class="shg-rich-text shg-theme-text-content">
                                    <p style="text-align: center">
                                        <a href="https://www.superhairpieces.com/guaranteed-in-3-months/" target="_blank" rel="noopener"><span style="font-size: 20px">3-month guaranteed</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                            <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1" id="s-c79a6215-b464-4e27-8472-2e3c89236c26">
                                <a class="shogun-image-link" href="https://www.superhairpieces.com/inventory/" target="_blank">
                                    <img
                                        data-src="https://i.shgcdn.com/339cc5f9-2e85-4bb3-9cdb-ad0e511e5cfe/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                        width=""
                                        height=""
                                        style=""
                                        alt=""
                                        class="shogun-image shogun-lazyload"
                                    />
                                </a>
                            </div>

                            <script type="text/javascript">
                                window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-c79a6215-b464-4e27-8472-2e3c89236c26" });
                            </script>
                            <div id="s-7de91b8c-af70-4c71-bd7f-5321636a1b48" class="shg-c">
                                <div class="shg-rich-text shg-theme-text-content">
                                    <p style="text-align: center">
                                        <a href="https://www.superhairpieces.com/inventory/" target="_blank" rel="noopener"><span style="font-size: 20px">Our Inventory</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                            <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1" id="s-8922b5c4-cf5e-4a17-9637-152152976242">
                                <a class="shogun-image-link" href="https://www.superhairpieces.com/our-response-to-the-pandemic" target="_blank">
                                    <img
                                        data-src="https://i.shgcdn.com/7d07c368-b030-4eb3-80ca-f993b52818e6/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                        width=""
                                        height=""
                                        style=""
                                        alt=""
                                        class="shogun-image shogun-lazyload"
                                    />
                                </a>
                            </div>

                            <script type="text/javascript">
                                window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-8922b5c4-cf5e-4a17-9637-152152976242" });
                            </script>
                            <div id="s-db419752-c4fa-42ed-bf11-2d39986633f4" class="shg-c">
                                <div class="shg-rich-text shg-theme-text-content">
                                    <p style="text-align: center">
                                        <a href="https://www.superhairpieces.com/our-response-to-the-pandemic" target="_blank" rel="noopener"
                                            ><span style="font-size: 20px">Our Fulfillment speed</span></a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.getshogun.com/5/61fc12a293b6f500eefc9053.js" async></script>
</div>
<script>
    function submit() {   
        let files = document.getElementById("receipt").files
        let email = document.querySelector("[name=email]");
        let name = document.querySelector("[name=fullname]");
        if (email) {
            email = email.value;
        } else {
            email="";
        }
        if (name) {
            name = name.value;
        } else {
            name="";
        }
        if (email.length==0||name.length==0||files.length==0) {
            alert("Pleae fill down email, name and choose a file");
        } else {
            let file = files[0];
            fetch(`https://shp-webserver.glitch.me/dropbox-supplier-token`)
            .then(r=>r.json())
            .then(r=>{
                if (r.token){
                    let reader = new FileReader();                
                    reader.readAsArrayBuffer(file);        
                    reader.onload = function (e) {    
                        let binaryString = new Blob([new Uint8Array(e.target.result)], { type: file.type });
                        let type = file.type.split('/')[1];                          

                        fetch("https://content.dropboxapi.com/2/files/upload", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/octet-stream",
                                "Accept": "application/json",
                                "Dropbox-API-Arg": `{"path":"/${Date.now()}-${email?email+'.'+type:file.name}","mode":"add"}`,
                                "Authorization": token
                            },
                            body: binaryString
                        })
                        .then((response) => response.json())
                        .then((result) => {
                            if (result.path_display) {
                                fetch(`https://api.dropboxapi.com/2/sharing/create_shared_link_with_settings`, {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                        "Authorization": token
                                    },
                                    body: JSON.stringify({
                                        path: result.path_display                            
                                    })
                                })
                                .then(r=>r.json())
                                .then(r=>{                                    
                                    if (r.url) {
                                        fetch(`https://shp-webserver.glitch.me/post-remaze-newsupplier`, {
                                            method: "POST",
                                            headers: {
                                                accept: "application/json",
                                                'Content-type': "application/json"
                                            },
                                            body: JSON.stringify({
                                                "conversation": {
                                                    "subject": "New Supplier Application",
                                                    "category": "support",
                                                    "message": {
                                                        "body": `This is application from ${name}: ${email}\nThe file link: ${r.url}`,
                                                        "recipients": ["sales@superhairpieces.com"]                                            
                                                    },
                                                    "user": {
                                                        "name": name,
                                                        "email": email
                                                    }
                                                }
                                            })
                                        })
                                        .then(r=>r.json())
                                        .then(r=>{
                                            console.log(r);
                                        })
                                        .catch(e=>console.log(e));                                        
                                    }
                                })
                                .catch(e=>console.log(e));
                            }
                        })
                        .catch((error) => {
                            console.log("error", error);                    
                        });
                    };        

                    reader.onerror = function () {            
                        console.log(reader.error);
                    };
                }
            })
            .catch(e=>console.log(e));
        }
    }
</script>