<style>
    .section:nth-child(n+1) {
        margin-top: 3rem;
    }
    .section-title {
        text-transform: uppercase;
        font-size: 2.2rem;
        color: rgba(33,33,33,1);
        /* font-weight: 300; */
    }
    .section-title:hover ::after {
        content: '#';
    }
    .section-title a {
        text-decoration: none;
    }
    .section-title-separate {
        width: 40px;
        height: 2px;
    }
    /**
    * Only in .com version
    */
    /* .section-title-separate svg, .section-title-separate svg {
        transform: translateY(-1rem);
    } */
    .section-description {
        margin: 2.5rem 0 3rem;
        font-size: 1.3rem;
        color: rgba(151, 125, 124, 1);
    }
    .section-content-group {
        display: flex;
    }
    .section-content-w {
        width: 65%;
    }
    .section-content-wrapper {
        display: flex;
        margin-bottom: 1rem;        
    }
    .section-content-img {
        width: 35%;
        padding: 1rem 2rem;
    }
    .section-content-img img {
        width: 100%;
    }
    .section-content-step-background {
        width: 40px;
        height: 45px;
        background-image: -moz-linear-gradient(to bottom right, #fff8ec, #fff);
        background-image: -o-linear-gradient(to bottom right, #fff8ec, #fff);
        background-image: linear-gradient(to bottom right, #fff8ec, #fff);
        transform: skewX(-15deg);
    }
    .section-content {
        transform: translateX(-30px);
        width: calc(100% - 30px);
    }
    .section-content-title-wrapper {
        width: fit-content;
    }
    .section-content-title {
        font-size: 1.5rem;
        font-style: italic;
        text-align: right;
    }
    .section-content-title-separate {
        width: 40px;
        height: 2px;
    }
    .section-content-detail {
        margin-left: 30px;
    }
    .section-content-detail .note {
        font-size: 0.85rem;
    }
    @media only screen and (max-width: 1024px) {
        .section-content-group {
            display: block;
        }
        .section-content-img {
            display: none;
        }
        .section-content-w {
            width: 100%;
        }
    }
</style>
<div class="section">
    <div class="section-title"><a href="//www.superhairpieces.com/featured-digital-media-partner-program" target="_blank">digital media partner</a></div>
    <div class="section-title-separate">
        <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <!-- Generator: Sketch 64 (93537) - https://sketch.com -->
            <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                    <g id="Hero" transform="translate(0.000000, 60.000000)">
                        <g id="Content" transform="translate(60.000000, 241.500000)">
                            <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="section-description">Anyone can submit a review, but that wouldn't be authentic on our part nor the customer’s. That’s why we only value verified reviews from customers who have bought our products. To submit a verified review which qualifies for our Digital Media Partner program, please follow the steps below:
    </div>
    <div class="section-content-group">
        <div class="section-content-w">
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">01</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">
                        <div>Look out for an email requesting you to review your purchased products around two weeks after your order has been received.</div>
                        <div class="note">***Note: If you haven’t received this email by that time, please contact our customer support team.
                        </div>
                    </div>
                </div>        
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">02</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Provide your rating for the product from one to five stars.</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">03</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Name the title of your review (it can be a short summary of your review).</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">04</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Provide a more detailed review of your product and experience using it.</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">05</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Select “Yes” or “No” for the “Do you recommend this product?” option.</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">06</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">
                        <div>Leave the box unchecked so that your review is not anonymous.</div>
                        <div class="note">***Note: As part of our Digital Media Partner program, you agree that we can identify you as a customer or client.</div>
                    </div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">07</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Click “Publish your review.”</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">08</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">
                        <div>You will then be redirected to a new form where you can upload photos or a video. Click on “Upload a Photo” or “Upload a Video” to add them to your review.</div>
                        <div class="note">***Note: Remember to follow this step in order to gain benefits from our Digital Media Partner program.
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">09</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">
                        You’re done! You can now share your review if you wish to do so.
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content-img"><img src="/product_images/uploaded_images/write-review.png" alt="Write Review"></div>
    </div>
</div>
<div class="section">
    <div class="section-title"><a href="//www.superhairpieces.com/patron-of-superhairpieces-digital-media" target="_blank">patron</a></div>
    <div class="section-title-separate">
        <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <!-- Generator: Sketch 64 (93537) - https://sketch.com -->
            <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                    <g id="Hero" transform="translate(0.000000, 60.000000)">
                        <g id="Content" transform="translate(60.000000, 241.500000)">
                            <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="section-description">Anyone can submit a review, but that wouldn't be authentic on our part nor the customer’s. That’s why we only value verified reviews from customers who have bought our products. To submit a verified review which qualifies for our Patron program, please follow the steps below:
    </div>
    <div class="section-content-group">
        <div class="section-content-img">
            <img src="/product_images/uploaded_images/write-review-upload-pic.png" alt="Upload photo">
        </div>
        <div class="section-content-w">
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">01</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">
                        <div>Look out for an email requesting you to review your purchased product around two weeks after your order has been received.</div>
                        <div class="note">***Note: If you haven’t received this email by that time, please contact our customer support team.
                        </div>
                    </div>
                </div>        
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">02</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Provide your rating for the product from one to five stars.</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">03</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Name the title of your review (it can be a short summary of your review).</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">04</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Provide a more detailed review of your product and experience using it.</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">05</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Select “Yes” or “No” for the “Do you recommend this product?” option.</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">06</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">
                        <div>Leave the box unchecked so that your review is not anonymous.</div>
                        <div class="note">***Note: As part of our Patron program, you agree that we can identify you as a customer or client.</div>
                    </div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">07</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">Click “Publish your review.”</div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">08</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">
                        <div>You will then be redirected to a new form where you can upload photos or a video. Click on “Upload a Photo” or “Upload a Video” to add them to your review.</div>
                        <div class="note">Note: Remember to follow this step in order to gain benefits from our Patron program.
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content-wrapper">
                <div class="section-content-step-background"></div>
                <div class="section-content">
                    <div class="section-content-title-wrapper">
                        <div class="section-content-title">09</div>
                        <div class="section-title-separate">
                            <svg viewBox="0 0 40 2" version="1.1" xmlns="http://www.w3.org/2000/svg">                        
                                <g id="Theme-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Beauty---Home" transform="translate(-60.000000, -427.000000)" fill="#977D7C">
                                        <g id="Hero" transform="translate(0.000000, 60.000000)">
                                            <g id="Content" transform="translate(60.000000, 241.500000)">
                                                <rect id="Line" x="0" y="125.5" width="40" height="2"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="section-content-detail">
                        You’re done! You can now share your review if you wish to do so.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>