<link rel="preconnect" href="https://fonts.gstatic.com" /><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/content/css/submenu.css" />
<link href="/content/css/sub-partner.css" rel="stylesheet" />

<!-- Change main color the same as icon -->

<style>
    :root {        
        --main-color: #1216a1;
        --second-color: #7a7df0;
        --main-text-color: #000;
        --second-text-color: #fff;
        --section-margin: 3rem;
        --element-margin: 1.5rem;
        --title-margin: 1.3rem;
        --title-font-size: 2.5rem;
        --left-border-width: 1rem;
        --left-border-distance: 3rem;
        --navigation-btn-width: 2.85714rem;
        --navigation-btn-height: 4.35714rem;
    }
    .page-content--centered {
        width: 100% !important;
    }
    .featured-salon-title {
        font-size: 1.3rem;
        font-style: italic;
        margin-bottom: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 300;
        padding-left: 1rem;
    }
    .featured-salon-item-description-wrap {
        border-left: 1rem solid var(--main-color);
        width: calc(100% + var(--left-border-distance) + var(--left-border-width));
        transform: translateX(calc(-1 * var(--left-border-distance) - var(--left-border-width)));
        padding-left: var(--left-border-distance);
        /* padding-right: 1rem; */
    }
    .featured-salon-item-desp-top {
        display: flex;
        margin-bottom: var(--section-margin);
    }
    .featured-salon-item-left {
        width: 60%;
    }
    .featured-salon-item-right {
        width: 40%;
        position: relative;
        padding-left: 3rem;
        align-self: flex-end;
    }
    .featured-salon-item-right #v3-video,.featured-salon-item-right video {
        max-width: 100%;
    }
    /* .featured-salon-item-right .featured-image-slide-wrapper {
        position: absolute;
        bottom: 0;
        width: calc(100% - var(--element-margin) * 4);
        padding: 0 calc(var(--element-margin) / 2);
        overflow-x: hidden;
    } */
    .featured-image-slide-wrapper {
        height: fit-content;
        display: none;
        margin-bottom: var(--section-margin);
    }
    .featured-image-slide-wrapper .feature-image-slide {
        padding: 0 calc(var(--element-margin) / 2);
    }
    .feature-image-slide img {
        width: 100%;
    }
    .featured-salon-item-right img {
        width: 100%;
        /* margin: 0 5px; */
        /* display: none; */
    }
    .featured-salon-item-right img[data-show] {
        display: block;
    }
    .featured-salon-item-title {
        margin-bottom: var(--title-margin);
    }
    .featured-salon-item-title img {
        height: 100px;
    }
    .featured-salon-item-title1 {
        color: var(--main-color);
        font-size: var(--title-font-size);
        text-transform: capitalize;
        margin-bottom: var(--element-margin);
    }
    .featured-salon-item-desption {
        margin-bottom: calc(var(--element-margin) / 2);
        text-align: justify;
    }
    .featured-salon-item-highlight {
        color: var(--main-color);
        font-size: 1.3rem;
        font-style: italic;
        font-weight: 500;
        margin-top: var(--element-margin);
    }
    .featured-salon-item-owner,
    .featured-salon-item-service-title,
    .featured-salon-item-info-title,
    .featured-salon-item-testimonial-title {
        font-size: var(--title-font-size);
        font-weight: 500;
    }
    .featured-salon-item-testimonial-title {
        padding: 1rem 0 0.5rem 1rem;
    }
    .featured-salon-item-owner-description,
    .featured-salon-item-service-description,
    .featured-salon-item-info-description-wrap {
        margin-top: var(--title-margin);
    }
    .featured-salon-review-highlight {
        margin-top: var(--title-margin);
        background: var(--main-color);
        color: var(--second-text-color);
        padding: 1rem;
        margin-left: -1rem;
        border-radius: 2rem;
        font-style: italic;
    }
    .featured-salon-review-bold {
        font-weight: bold;
        color: var(--main-second-color);
    }
    .featured-salon-item-info-description-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .featured-salon-item-info-description-wrap .item {
        width: 25%;
        padding-right: 2rem;
        margin-bottom: var(--element-margin);
    }
    .featured-salon-item-info-description-wrap .title {
        border-bottom: 1px solid var(--main-color);
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        font-weight: 500;
        width: fit-content;
    }
    .featured-salon-item-info-description-wrap .highlight {
        color: var(--main-color);
    }
    .featured-salon-item-info-description-wrap a {
        text-decoration: none;
    }
    .featured-salon-demo-wrap {
        position: relative;
        width: fit-content;
    }
    .featured-right-navigation {
        position: absolute;
        bottom: 10px;
        z-index: 1;
        left: 0;
        padding: 0 calc(var(--element-margin) / 2);
        width: 100%;
    }
    /* .featured-salon-demo-navigation {
        position: absolute;
        top: 45%;
        z-index: 1;
        left: 0;
        padding: 0 10px;
        width: 100%;
    }
    .featured-salon-demo-navigation .nav-left {
        display: none;
    }
    .featured-right-navigation .nav-right, .featured-salon-demo-navigation .nav-right {
        right: 10px;
        position: absolute;        
    }
    .featured-right-navigation svg, .featured-salon-demo-navigation svg{
        width: 30px;
        cursor: pointer;
        fill: var(--main-color);
        stroke: var(--second-color);
        stroke-width: 2px;        
    }
    .featured-right-navigation svg:hover, .featured-salon-demo-navigation svg:hover {
        fill: var(--main-color);
        stroke: var(--second-color);
    }
    .featured-salon-item-demo {
        display: flex;
        margin: 3rem 0;
    }
    .featured-salon-item-demo.demo-right {
        display: none;
    }
    .featured-salon-item-demo-before,
    .featured-salon-item-demo-after {        
        position: relative;
        color: var(--second-color);
    }    
    .featured-salon-item-demo-before::before {
        content: "Before";
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        font-weight: 600;
        font-size: 1.3rem;
    }
    .featured-salon-item-demo-after::before {
        content: "After";
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        font-weight: 600;
        font-size: 1.3rem;        
    }
    .featured-animate-left{
        position:relative;
        animation:animateleft 0.4s
    }
    @keyframes animateleft{
        from{
            left:-300px;
            opacity:0
        } 
        to{
            left:0;
            opacity:1
        }
    }
    .featured-animate-right{
        position:relative;
        animation:animateright 0.4s;
    }
    @keyframes animateright{
        from{
            right:-300px;opacity:0
        } 
        to{
            right:0;opacity:1
        }
    } */
    .featured-salon-item-logo {
        position: absolute;
        bottom: 15vw;
        right: 0;
        z-index: -1;
    }
    .featured-salon-item-service-description .highlight {
        color: var(--main-color);
        font-weight: 500;
    }
    .featured-salon-item-service-description div::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background-color: var(--main-color);
        display: inline-block;
        margin-right: 0.4rem;
    }
    .featured-salon-item-service-wrap {
        margin-bottom: var(--section-margin);
    }
    /* .splide__arrow {
        position: absolute;
        top: 50%;
        z-index: 1;        
    }
    .splide__arrow--prev {
        transform: rotate(180deg);
    } */
    .custom-slick-arrow {
        background-color: transparent;
        border: 0;
    }
    .custom-slick-next,
    .custom-slick-prev {
        z-index: 1;
        height: var(--navigation-btn-height);
        /* margin-top: -2.14286rem; */
        padding: 0.71429rem;
        width: var(--navigation-btn-width);
        position: absolute;
        display: block;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        /* top: 50%; */
        bottom: 0;
        /* transform: translate(0, -50%); */
        outline: none;
    }
    .custom-slick-next {
        right: calc(var(--left-border-distance) * -1) !important;
    }
    .custom-slick-prev {
        left: calc(-1 * var(--left-border-distance)) !important;
    }
    .custom-slick-next::before,
    .custom-slick-prev::before {
        content: "";
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        height: 2.92857rem;
        width: 1.42857rem;
    }
    .custom-slick-prev::before {
        background: var(--main-color);
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%238182BB' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%238182BB' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
    }
    .custom-slick-prev:hover::before {
        background: var(--second-color);        
    }
    .custom-slick-next::before {
        background: var(--main-color);
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%238182BB' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%238182BB' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
    }
    .custom-slick-next:hover::before {
        background: var(--second-color)
    }
    @media (max-width: 1500px) {
        .featured-salon-item-title1 {
            font-size: calc(var(--title-font-size) - 0.4rem);
        }
    }
    @media only screen and (max-width: 1400px) {
        .featured-salon-item-info-description-wrap .item {
            width: 50%;
        }
    }
    @media (max-width: 1100px) {
        .featured-salon-item-desp-top {
            display: block;
        }
        .featured-salon-item-left,
        .featured-animate-right {
            width: 100%;
        }
        .featured-salon-item-right {
            padding: 0;
            width: fit-content;
            max-width: 100%;
            margin-top: var(--section-margin);
            margin-left: auto;
            margin-right: auto;
        }
    }
    /* @media (max-width: 950px) {
        .featured-right-navigation {
            display: block;
            padding: 0;
        }
        .featured-salon-item-right {
            width: fit-content;
            max-width: 100%;
            padding: 0 3rem;
        }
        .featured-salon-item-right .featured-image-slide-wrapper {
            max-width: calc(100% - 2rem);
        }
        .featured-salon-item-right img {
            display: none;
            margin: 1rem;
            max-width: 100%;
        }
    } */
    @media only screen and (max-width: 900px) {
        .featured-salon-item-description-wrap {
            display: block;
        }
        .featured-salon-item-desption,
        .featured-salon-item-owner-description {
            text-align: justify;
        }
        .featured-salon-review-highlight {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @media only screen and (max-width: 800px) {
        .featured-salon-item-demo-before,
        .featured-salon-item-demo-after {
            width: 50%;
        }
        /* .featured-salon-item-right {            
            width: calc(100% - var(--left-border-distance));
            padding-left: var(--left-border-distance);
        } */
        .featured-image-slide-wrapper {
            margin-left: var(--element-margin);
            margin-right: var(--element-margin);
            width: calc(100% - 2 * var(--element-margin));
        }
        .featured-salon-item-title1 {
            font-size: 1.5rem;
        }
    }
    @media (max-width: 700px) {
        .featured-salon-item-info-description-wrap .item {
            width: 100%;
            padding: 0;
        }
    }
</style>
<div class="embla">
    <div class="embla__container">
    </div>
</div>
<div style="position: relative">
    <div class="menu-wrap">
        <div class="menu-items"></div>
    </div>
</div>
<div class="featured-salon-title">Our Digital Media Partners</div>
<div class="featured-salon-item">
    <div class="featured-salon-item-description-wrap">
        <div class="featured-salon-item-desp-top">
            <div class="featured-salon-item-left">
                <div class="featured-salon-item-title">
                    <!-- Change logo image -->
                    <img src="/content/images/marketing/featuredsalons/v3/logo-blue.svg" loading="lazy" alt="v3salon Logo" />
                </div>
                <div class="featured-salon-item-desption">
                    <div>
                        V3 Salon is a premier hair care and hair restoration studio for men and women who are suffering from thinning hair, male or female pattern baldness, and medically related hair loss. At V3, we are dedicated to helping you regain your confidence and your zest for life.
                    </div>                    
                </div>
                <div class="featured-salon-item-title1">A message from Shari, V3 Salon Owner</div>
                <div>
                    <div>If you are currently wearing hair and you are experiencing problems with either your provider or your product – that’s where we come in.  At V3, we remove the headaches that are often associated with hair replacement. If you were fitted incorrectly,  your color is wrong, or your texture and density do not match – we can fix all of that and more. We strive to take hair replacement to a new level of perfection.</div>
                </div>
                <div class="featured-salon-item-highlight">Schedule a Free Consultation today</div>
            </div>
            <div class="featured-salon-item-right">
                <!-- Set image in img tag, set source for image in mobile -->
                <picture>
                    <source media="(max-width:675px)" srcset="https://v3salon.com/wp-content/uploads/2021/02/IMG_1306_thumb1.jpg">
                    <img src="https://v3salon.com/wp-content/uploads/2021/02/IMG_1306_thumb1.jpg" alt="profile">
                </picture>
            </div>
        </div>
    </div>
    <div class="featured-image-slide-wrapper">
        <!-- This is for testimonial slides -->
        <!-- Set image in img tag, set source for image in mobile, remember to change alt -->
        <picture class="feature-image-slide">
            <source media="(max-width:675px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/11/Test-Logo.svg">
            <img data-lazy="/content/images/marketing/featuredsalons/v3/1-300w.jpg" alt="v3salon client" />
        </picture>
        <picture class="feature-image-slide">
            <source media="(max-width:675px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/11/Test-Logo.svg">
            <img data-lazy="/content/images/marketing/featuredsalons/v3/2-300w.jpg" alt="v3salon client" />
        </picture>
        <picture class="feature-image-slide">
            <source media="(max-width:675px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/11/Test-Logo.svg">
            <img data-lazy="/content/images/marketing/featuredsalons/v3/3-300w.jpg" alt="v3salon client" />
        </picture>
        <picture class="feature-image-slide">
            <source media="(max-width:675px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/11/Test-Logo.svg">
            <img data-lazy="/content/images/marketing/featuredsalons/v3/4-300w.jpg" alt="v3salon client" />
        </picture>
        <picture class="feature-image-slide">
            <source media="(max-width:675px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/11/Test-Logo.svg">
            <img data-lazy="/content/images/marketing/featuredsalons/v3/5-300w.jpg" alt="v3salon client" />
        </picture>
        <picture class="feature-image-slide">
            <source media="(max-width:675px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/11/Test-Logo.svg">
            <img data-lazy="/content/images/marketing/featuredsalons/v3/6-300w.jpg" alt="v3salon client" />
        </picture>
        <picture class="feature-image-slide">
            <source media="(max-width:675px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/11/Test-Logo.svg">
            <img data-lazy="/content/images/marketing/featuredsalons/v3/7-300w.jpg" alt="v3salon client" />
        </picture>
        <picture class="feature-image-slide">
            <source media="(max-width:675px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/11/Test-Logo.svg">
            <img data-lazy="/content/images/marketing/featuredsalons/v3/8-300w.jpg" alt="v3salon client" />
        </picture>
        <picture class="feature-image-slide">
            <source media="(max-width:675px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/11/Test-Logo.svg">
            <img data-lazy="/content/images/marketing/featuredsalons/v3/9-300w.jpg" alt="v3salon client" />
        </picture>
    </div>
    <div class="featured-salon-item-service-wrap">
        <div class="featured-salon-item-service-title">Services</div>
        <div class="featured-salon-item-service-description">
            <!-- Write down services -->
            <div>Hair loss solutions.</div>
            <div>Hair styling.</div>
            <div>Free consultation.</div>
        </div>
    </div>
    <div class="featured-salon-item-info-wrap">
        <div class="featured-salon-item-info-title">Information</div>
        <div class="featured-salon-item-info-description-wrap">
            <div class="item">
                <div class="title">Address</div>
                <div>1970 Ormond Blvd #9, Destrehan, LA 70047</div>
            </div>
            <div class="item">
                <div class="title">Email</div>
                <div>
                    <a href="mailto:bookv3salon@gmail.com">bookv3salon@gmail.com</a>
                </div>
            </div>
            <div class="item">
                <div class="title">Website</div>
                <div>
                    <a href="https://v3salon.com/" target="_blank">https://v3salon.com/</a>
                </div>
            </div>
            <div class="item">
                <div class="title">Tel</div>
                <div>
                    <a href="tel:+15042615306">504.261.5306</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/content/js/submenu.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
<script>
    function embededSlick() {
        $(".featured-image-slide-wrapper").slick({
            slidesToShow: 4,
            dots: false,
            infinite: true,
            speed: 300,
            autoplay: true,
            autoplaySpeed: 2000,
            lazyLoad: "ondemand",
            prevArrow: "<button class='custom-slick-prev custom-slick-arrow' aria-label='Previous' type='button'>Previous</button>",
            nextArrow: "<button class='custom-slick-next custom-slick-arrow' aria-label='Next' type='button'>Next</button>",
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                    },
                },
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2,
                    },
                },
                {
                    breakpoint: 550,
                    settings: {
                        slidesToShow: 1,
                    },
                },
            ],
        });
        $(".featured-image-slide-wrapper").show();        
    }
    window.addEventListener("DOMContentLoaded", function () {
        let sSlick = document.createElement("script");
        sSlick.setAttribute("src", "/content/js/slick.min.js");
        document.body.appendChild(sSlick);

        sSlick.addEventListener("load", embededSlick, false);        
    });    
</script>
