<div
    class="shogun-root"
    data-shogun-id="60ff0031fb124800dbcd472c"
    data-shogun-site-id="fb8c6090-a908-45e2-8617-89b82d7a20e6"
    data-shogun-page-id="60ff0031fb124800dbcd472c"
    data-shogun-page-version-id="6102e65390cde100caedc4c3"
    data-shogun-platform-type="big_commerce"
    data-shogun-variant-id="6102e65390cde100caedc790"
    data-region="main"
>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:800" />

    <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/shogun-font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/6102e65390cde100caedc790.css" />

    <script type="text/javascript" src="https://lib.getshogun.com/lazysizes/2.0.0/shogun-lazysizes.js" async></script>

    <div id="s-0691a966-857a-4629-97c2-2c8b4b7df5a7" class="shg-c">
        <div class="shg-rich-text shg-theme-text-content">
            <p style="text-align: center">
                <span style="font-size: 20px"
                    ><a href="/tape-in-hair-extensions/" target="_blank" rel="noopener">Tape in</a>     <a href="/nail-tip-hair-extensions/" target="_blank" rel="noopener">Nail Tip</a>     <a
                        href="/stick-tip-hair-extensions/"
                        target="_blank"
                        rel="noopener"
                        >Stick Tip</a
                    >     <a href="/machine-weft-hair-extensions/" target="_blank" rel="noopener">Machine Weft</a>     <a href="/hand-tied-weft-hair-extensions/" target="_blank" rel="noopener"
                        >Hand Tied Weft</a
                    >     <a href="/clip-in-hair-extensions/" target="_blank" rel="noopener">Clip In</a>     <a href="/halo-hair-extensions/" target="_blank" rel="noopener">Halo</a></span
                >
            </p>
        </div>
    </div>

    <div class="shg-box-vertical-align-wrapper">
        <div class="shg-box shg-c" id="s-742d1cb9-f366-479d-a036-39027ae0b046">
            <div class="shg-box-overlay"></div>
            <div class="shg-box-content">
                <div class="shg-c shogun-image-container shg-align-center" style="" id="s-6a0e30d0-1861-4b1a-8771-4b30d0617bc2">
                    <img src="https://i.shgcdn.com/a08d48d9-2d18-478e-aadc-7d71b184e327/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image" />
                </div>

                <script type="text/javascript">
                    window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                    window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-6a0e30d0-1861-4b1a-8771-4b30d0617bc2" });
                </script>
            </div>
        </div>
    </div>
    <div class="shg-box-vertical-align-wrapper">
        <div class="shg-box shg-c" id="s-a059fbb3-3eaf-4180-bba9-02e6f929d8de">
            <div class="shg-box-overlay"></div>
            <div class="shg-box-content">
                <div id="s-b48dfe4f-6693-4ac9-b5bc-27c82457ff6a" class="shg-c shg-align-center">
                    <div class="shogun-heading-component">
                        <h2>Experience The Difference</h2>
                    </div>
                </div>

                <div class="shg-c" id="s-908557ee-5f66-4883-8f98-485de6e19906">
                    <div class="shg-row" data-col-grid-mode-on="">
                        <div class="shg-c-lg-2 shg-c-md-2 shg-c-sm-2 shg-c-xs-12"></div>
                        <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                            <div id="s-1f476298-9d68-473a-b51b-9a164cdf9a68" class="shg-c">
                                <div class="shg-rich-text shg-theme-text-content">
                                    <p>
                                        <span style="font-size: 20px"
                                            >Add length, volume, or highlights to your natural hair. Whether you want voluminous or natural-looking hair, regular or funky colors, you can always find
                                            what you need here.</span
                                        >
                                    </p>
                                    <p><span style="font-size: 20px">Our hair extensions are made from 100% high quality human hair.</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="shg-c-lg-2 shg-c-md-2 shg-c-sm-2 shg-c-xs-12"></div>
                    </div>
                </div>

                <div class="shg-c" id="s-cb0beb64-f45f-4c61-879c-4e7559a7af82">
                    <div class="shg-row" data-col-grid-mode-on="true">
                        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                            <div class="shg-c shogun-image-container shg-align-center" style="" id="s-033f3b37-e2e5-4702-a19e-df8a1ea0237f">
                                <img
                                    data-src="https://i.shgcdn.com/7b63cf3d-4463-4cf6-9b6d-34a9c851164e/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                    width=""
                                    height=""
                                    style=""
                                    alt=""
                                    class="shogun-image shogun-lazyload"
                                />
                            </div>

                            <script type="text/javascript">
                                window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-033f3b37-e2e5-4702-a19e-df8a1ea0237f" });
                            </script>
                        </div>
                        <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                            <div class="shg-box-vertical-align-wrapper">
                                <div class="shg-box shg-c" id="s-229aedfe-6f4f-49f0-bb20-05b63463abd9">
                                    <div class="shg-box-overlay"></div>
                                    <div class="shg-box-content">
                                        <div id="s-3029f8de-ca64-427e-adaa-c796be5a4ee9" class="shg-c">
                                            <div class="shg-rich-text shg-theme-text-content">
                                                <p><span style="font-size: 20px">Are you a hairstylist or a salon owner? Contact us to open a wholesale account and get a professional price.</span></p>
                                                <ul class="footer-info-list">
                                                    <li style="text-align: center"><span style="font-size: 20px">Toll Free: 1-866-814-7879   Global: 1-954-835-2288</span></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="shg-c" id="s-ec935b73-b385-46a5-8544-ecf07635488f">
                                            <div class="shg-row" data-col-grid-mode-on="true">
                                                <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"></div>
                                                <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                                                    <div id="s-1c42250f-2bbb-4d06-a297-32099ca0bd0c" class="shg-c shg-align-center">
                                                        <div class="shg-social-alignable">
                                                            <div
                                                                class="shg-social-container"
                                                                data-color="#000"
                                                                data-size="small"
                                                                data-gutter="10px"
                                                                data-orientation="horizontal"
                                                                data-in-new-tab="true"
                                                            >
                                                                <a class="shg-social-element" data-icon="youtube-square" data-link="https://www.youtube.com/Superhairpieces?sub_confirmation=1"></a>

                                                                <a class="shg-social-element" data-icon="facebook-square" data-link="https://www.facebook.com/thesuperhairpieces"></a>

                                                                <a class="shg-social-element" data-icon="instagram" data-link="https://www.instagram.com/superhairpieces/"></a>

                                                                <a class="shg-social-element" data-icon="pinterest-square" data-link="https://www.pinterest.com/superhairpieces/"></a>

                                                                <a class="shg-social-element" data-icon="linkedin-square" data-link="https://linkedin.com/company/superhairpieces"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shg-box-vertical-align-wrapper">
                    <div class="shg-box shg-c" id="s-ed41f219-ad1b-4eec-9758-50baed991a2f">
                        <div class="shg-box-overlay"></div>
                        <div class="shg-box-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shg-box-vertical-align-wrapper">
        <div class="shg-box shg-c" id="s-806cfd74-73cc-4f84-a43e-f45d800edc80">
            <div class="shg-box-overlay"></div>
            <div class="shg-box-content">
                <div class="shg-c" id="s-a6701cb8-efc0-467a-993f-373436051b13">
                    <div class="shg-row" data-col-grid-mode-on="">
                        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                            <div class="shg-c" id="s-4edff7b5-21da-40a0-a60a-5886d88a084b">
                                <div class="shg-row" data-col-grid-mode-on="true">
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="" id="s-6281fbd6-0451-450c-9211-826b49a5ba62">
                                            <a class="shogun-image-link" href="/tape-in-hair-extensions/" target="_blank">
                                                <img
                                                    data-src="https://i.shgcdn.com/e5c9b706-f129-4693-9e63-7c872cf8c7c4/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                    width=""
                                                    height=""
                                                    style=""
                                                    alt=""
                                                    class="shogun-image shogun-lazyload"
                                                />
                                            </a>
                                        </div>

                                        <script type="text/javascript">
                                            window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                            window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-6281fbd6-0451-450c-9211-826b49a5ba62" });
                                        </script>
                                    </div>
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper">
                                            <div class="shg-box shg-c" id="s-06ef1278-60a5-412d-ac04-2f1ed06c8593">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div id="s-22d0f7f8-d0c7-4f31-be14-80492fb741d3" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p>
                                                                <a href="/tape-in-hair-extensions/" target="_blank" rel="noopener"
                                                                    ><span style="font-size: 20px"><strong>Tape In</strong></span></a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div id="s-d78272a0-5620-48d0-ae53-ea386b61a48a" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p><span style="font-size: 20px">Easy to install, one of the least damaging</span></p>
                                                            <p>
                                                                <span style="color: #808080"
                                                                    ><strong
                                                                        ><span style="font-size: 16px"><em>Good for: Thin hair</em></span></strong
                                                                    ></span
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                            <div class="shg-c" id="s-370914a9-4ae4-4d23-83ab-780498cd1daa">
                                <div class="shg-row" data-col-grid-mode-on="true">
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="" id="s-32c0d4a9-4ecf-4714-b113-6f1802156950">
                                            <a class="shogun-image-link" href="/nail-tip-hair-extensions/" target="_blank">
                                                <img
                                                    data-src="https://i.shgcdn.com/113e71cd-5758-4f9b-aa7c-6576407df6a2/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                    width=""
                                                    height=""
                                                    style=""
                                                    alt=""
                                                    class="shogun-image shogun-lazyload"
                                                />
                                            </a>
                                        </div>

                                        <script type="text/javascript">
                                            window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                            window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-32c0d4a9-4ecf-4714-b113-6f1802156950" });
                                        </script>
                                    </div>
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper">
                                            <div class="shg-box shg-c" id="s-614c0bc3-b4c5-4d23-b81b-175ba4fca91b">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div id="s-d0d82673-784f-4b13-825c-484fb6885f60" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p>
                                                                <a href="/nail-tip-hair-extensions/" target="_blank" rel="noopener"
                                                                    ><span style="font-size: 20px"><strong>Nail Tip</strong></span></a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div id="s-7be80b83-4130-4ce6-975e-93f8e2248eb7" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p><span style="font-size: 20px">Also called: Stick Tip, Cold Fusion, Micro Links</span></p>
                                                            <p><span style="font-size: 20px">Quick installation, durable, easy access to the scalp</span></p>
                                                            <p>
                                                                <span style="font-size: 16px; color: #808080"
                                                                    ><strong><em>Good for: Coarse hair</em></strong></span
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shg-c" id="s-458aa9a9-537a-4e98-a641-ae5ae46e4bb0">
                    <div class="shg-row" data-col-grid-mode-on="">
                        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                            <div class="shg-c" id="s-ce396e0a-40b3-4079-b6f4-a5c9e0559efb">
                                <div class="shg-row" data-col-grid-mode-on="true">
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="" id="s-449f68e9-acd8-476b-8988-bd688b623514">
                                            <a class="shogun-image-link" href="/stick-tip-hair-extensions/" target="_blank">
                                                <img
                                                    data-src="https://i.shgcdn.com/4b55813d-72aa-4005-93bc-32200f40e947/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                    width=""
                                                    height=""
                                                    style=""
                                                    alt=""
                                                    class="shogun-image shogun-lazyload"
                                                />
                                            </a>
                                        </div>

                                        <script type="text/javascript">
                                            window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                            window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-449f68e9-acd8-476b-8988-bd688b623514" });
                                        </script>
                                    </div>
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper">
                                            <div class="shg-box shg-c" id="s-fe48ae84-68c5-4f59-a06f-d3ef56986c74">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div id="s-d848fce1-c1ec-4dc3-801f-db684ba2db55" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p>
                                                                <a href="/stick-tip-hair-extensions/" target="_blank" rel="noopener"
                                                                    ><span style="font-size: 20px"><strong>I Tip</strong></span></a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div id="s-a614b4ba-453a-4e57-9807-222fc7ef0955" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p><span style="font-size: 20px">Also called: Stick Tip, Cold Fusion, Micro Links</span></p>
                                                            <p><span style="font-size: 20px">Quick installation, durable, easy access to the scalp</span></p>
                                                            <p>
                                                                <span style="font-size: 16px; color: #808080"
                                                                    ><strong><em>Good for: Coarse hair</em></strong></span
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                            <div class="shg-c" id="s-9fff60a1-afb3-4348-bec8-a20f293975e3">
                                <div class="shg-row" data-col-grid-mode-on="true">
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="" id="s-83ef46dc-464e-4f41-b43b-ab2891b15159">
                                            <a class="shogun-image-link" href="/clip-in-hair-extensions/" target="_blank">
                                                <img
                                                    data-src="https://i.shgcdn.com/7464dab1-8432-42ab-9931-f2c8e1df6c23/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                    width=""
                                                    height=""
                                                    style=""
                                                    alt=""
                                                    class="shogun-image shogun-lazyload"
                                                />
                                            </a>
                                        </div>

                                        <script type="text/javascript">
                                            window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                            window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-83ef46dc-464e-4f41-b43b-ab2891b15159" });
                                        </script>
                                    </div>
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper">
                                            <div class="shg-box shg-c" id="s-0159e71f-3af6-49a5-8b21-7740ce1e1fe6">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div id="s-b75b44a2-7b18-4654-839e-76b9f9745ee9" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p>
                                                                <a href="/clip-in-hair-extensions/" target="_blank" rel="noopener"
                                                                    ><span style="font-size: 20px"><strong>Clip Tip</strong></span></a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div id="s-f198e419-e413-4cae-9f16-ad56af0c4539" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p><span style="font-size: 20px">Temporary, least damaging, instant new look</span></p>
                                                            <p>
                                                                <span style="font-size: 16px; color: #808080"
                                                                    ><strong><em>Good for: Thicker hair</em></strong></span
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shg-c" id="s-015307cb-7813-4d99-9725-c94b7386315b">
                    <div class="shg-row" data-col-grid-mode-on="">
                        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                            <div class="shg-c" id="s-a3b050a8-6903-4bc3-adf8-96c01a011569">
                                <div class="shg-row" data-col-grid-mode-on="true">
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="" id="s-fda55c0d-79ff-4de9-ab5e-89f8fc76f31b">
                                            <a class="shogun-image-link" href="/machine-weft-hair-extensions/" target="_blank">
                                                <img
                                                    data-src="https://i.shgcdn.com/a6536d43-22c6-468a-893a-2e058c8fd0c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                    width=""
                                                    height=""
                                                    style=""
                                                    alt=""
                                                    class="shogun-image shogun-lazyload"
                                                />
                                            </a>
                                        </div>

                                        <script type="text/javascript">
                                            window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                            window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-fda55c0d-79ff-4de9-ab5e-89f8fc76f31b" });
                                        </script>
                                    </div>
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper">
                                            <div class="shg-box shg-c" id="s-350d955d-e9c1-4d9e-9cc2-c2254507ae91">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div id="s-7c6f1d59-c74c-4edf-a166-3a40b4e7f31d" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p>
                                                                <a href="/machine-weft-hair-extensions/" target="_blank" rel="noopener"
                                                                    ><span style="font-size: 20px"><strong>Machine Weft</strong></span></a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div id="s-1f27153c-e172-4bdd-bfbe-cecb7e5eb615" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p><span style="font-size: 20px">Voluminous, dense, sturdy, durable</span></p>
                                                            <p>
                                                                <span style="font-size: 16px; color: #808080"
                                                                    ><em><strong>Good for: Thick, coarse hair</strong></em></span
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                            <div class="shg-c" id="s-9aac8344-0039-4ffe-a4e1-494432373ae2">
                                <div class="shg-row" data-col-grid-mode-on="true">
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="" id="s-d51f7dd9-fc0c-4859-9222-61c2ee405960">
                                            <a class="shogun-image-link" href="/hand-tied-weft-hair-extensions/" target="_blank">
                                                <img
                                                    data-src="https://i.shgcdn.com/4b17e6e9-84f3-4776-be49-e54ad8188b31/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                    width=""
                                                    height=""
                                                    style=""
                                                    alt=""
                                                    class="shogun-image shogun-lazyload"
                                                />
                                            </a>
                                        </div>

                                        <script type="text/javascript">
                                            window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                            window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-d51f7dd9-fc0c-4859-9222-61c2ee405960" });
                                        </script>
                                    </div>
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper">
                                            <div class="shg-box shg-c" id="s-dd62fd73-e206-4c2a-89de-4624aa3acccf">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div id="s-890bfa3a-17b5-422f-bf16-043b593f6a9c" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p>
                                                                <a href="/hand-tied-weft-hair-extensions/" target="_blank" rel="noopener"
                                                                    ><span style="font-size: 20px"><strong>Hand Tied Weft</strong></span></a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div id="s-9c364804-f4ff-4e90-b0d8-9782538bbb62" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p><span style="font-size: 20px">Temporary, least damaging, natural volume</span></p>
                                                            <p>
                                                                <span style="font-size: 16px; color: #808080"
                                                                    ><strong><em>Good for: Thicker hair</em></strong></span
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shg-c" id="s-f6019399-55cb-46cb-882d-e920c0df4020">
                    <div class="shg-row" data-col-grid-mode-on="">
                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                            <div class="shg-c" id="s-81e1a60b-a02a-4e91-991b-7d0b5115ca5a">
                                <div class="shg-row" data-col-grid-mode-on="true">
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="" id="s-25731b50-45fa-42be-b6fc-f440d9906855">
                                            <a class="shogun-image-link" href="/halo-hair-extensions/" target="_blank">
                                                <img
                                                    data-src="https://i.shgcdn.com/16aa303c-1716-4236-93f5-168f3c6dac33/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                                                    width=""
                                                    height=""
                                                    style=""
                                                    alt=""
                                                    class="shogun-image shogun-lazyload"
                                                />
                                            </a>
                                        </div>

                                        <script type="text/javascript">
                                            window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                            window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: "", uuid: "s-25731b50-45fa-42be-b6fc-f440d9906855" });
                                        </script>
                                    </div>
                                    <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                        <div class="shg-box-vertical-align-wrapper">
                                            <div class="shg-box shg-c" id="s-c9b2ed7e-bdee-4f9b-9d87-f00a0f8afd2b">
                                                <div class="shg-box-overlay"></div>
                                                <div class="shg-box-content">
                                                    <div id="s-fd672c8d-95cb-4f8c-ac0e-8e61a013e63b" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p>
                                                                <a href="/halo-hair-extensions/" target="_blank" rel="noopener"
                                                                    ><span style="font-size: 20px"><strong>Halo</strong></span></a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div id="s-88c8423b-408e-497e-8466-7c646bf87775" class="shg-c">
                                                        <div class="shg-rich-text shg-theme-text-content">
                                                            <p><span style="font-size: 20px">Temporary, least damaging, natural volume</span></p>
                                                            <p>
                                                                <span style="font-size: 16px; color: #808080"
                                                                    ><em><strong>Good for: Thicker hair</strong></em></span
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.getshogun.com/6102e65390cde100caedc790.js" async></script>
</div>
<script>
    let reviews = [];
    window.addEventListener("DOMContentLoaded", (event)=> {
        
    })
</script>
